* {
  box-sizing: border-box;
  list-style: none;
}

body {
  color: var(--text-main);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}