:root {
  --text-main: #212121;
  --text-secondary: #757575;
  --accent: #2196f3;

  --white: #ffffff;
  --black: #000000;

  --light-bg: #f5f4fa;
  --dark-bg: #2f303a;

  --border-light: #eeeeee;
  --border: #ececec;
}
*{
  box-sizing: border-box;
  list-style: none;
}
body {
  color: var(--text-main);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  
}

header {
  background-color: var(--white);
  color: var(--text-main);
  border-bottom: 1px solid var(--border-light);
  padding: 20px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--text-main);
  text-decoration: none;
  line-height: 1.2;
}

header p {
  color: var(--text-secondary);
  line-height: 1.2;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.logo span {
  color: var(--accent);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 344px;
}

.navigation ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  padding: 0;

}

.navigation a {
  font-weight: bold;
  line-height: 1.2;
}

.navigation :hover {
  color: var(--accent);
}


.email a:hover,
.tel a:hover {
  color: var(--accent);
}

.email:hover .icon-email,
.tel:hover .icon-tel {
  fill: var(--accent);
}

h3 {
  color: var(--text-main);
  line-height: 1.2;
}

.hero {
  background-color: var(--dark-bg);
  color: var(--white);
  line-height: 1.3;
  padding: 200px 0;  
  background-image:
    linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../hero.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero h2{
  display: block;
  width: 696px;
  height: 120px;
  font-size:44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
  
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.hero button {
  display: inline-block;
  border-radius: 4px;
  height: 50px;
  background-color: var(--accent);
  color: var(--white);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

.text {
  display:flex;
  justify-content: center;
}

.text ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  line-height: 1.3;
  margin-top: 94px;
  margin-bottom: 94px;
}

.text-ul-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--light-bg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.text-ul-item:nth-child(1)::before{
  background-image: url("../antenna.png");
}

.text-ul-item:nth-child(2)::before{
  background-image: url("../clock.png");
}

.text-ul-item:nth-child(3)::before{
  background-image: url("../diagram.png");
}

.text-ul-item:nth-child(4)::before{
  background-image: url("../astronaut.png");
}
.work{
  text-align: center;
}

.work ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style-type: none;  
  margin-bottom: 94px;
}

.work-ul-item {
  border: none;
  width: calc((100% - 60px) / 3);
}

.work-card {
  position: relative;
  overflow: hidden;
  
}

.work-card img {
  display: block;
  width: 100%;
}

.work-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  margin: 0;
  padding: 20px 0;
  text-align: center;

  background: rgba(47, 48, 58, 0.8);
  color: var(--white);

  font-weight: 700;
}

.workers .ul-workers {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}

.workers .worker {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  text-align: center;
  padding-bottom: 30px;
}

.workers{
  padding-top: 94px;
  padding-bottom: 94px;
    background-color: var(--light-bg);
    line-height: 1.4;
    text-align: center;
}

.workers p{
    color: var(--text-secondary);
    line-height: 1.3;
}
.workers h2{
  
  margin-bottom: 50px;
}

.workers img{
  width: 270px;
  height: 260px;
  display: block;
}

.workers h3{
  margin-top: 30px;
  margin-bottom: 10px;
}

.text p{
    color: var(--text-secondary);
    line-height: 1.3;
}

.filters .container{
   display: flex;
   justify-content: center;
   margin-bottom: 34px;
  margin-top: 94px; 
}

.filters ul {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: none;
  
}

.filters a {
  display: inline-block;
  padding: 8px 25px;
  background-color: var(--light-bg);
  color: var(--text-main);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.filters a:hover {
  background-color: var(--accent);
  color: var(--white);
}



.portfolio-foto-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-foto-ul-item {
  width: calc((100% - 60px) / 3);
  width: 370px;
  background: var(--white);
  border: 1px solid var(--border-light);
  
}

.portfolio-foto-ul-item:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.portfolio-foto-ul-item h3{
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 6%;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio-foto-ul-item p{
  display: block;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  color: var(--text-secondary);
  margin-left: 24px;
}

 


footer {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 20px;
  line-height: 1.4;
  margin-top: 94px;
}

footer .container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.adress {
  margin-bottom: 5px;
}

.text-secondary p {
  margin: 2px 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
} 

.text-secondary{
  color: var(--text-secondary);
}

.social-list-footer {
  display: flex;
  gap: 10px;
  padding: 0;
}

.social-list-footer li {
  list-style: none;
}

.social-list-footer a {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: 0.3s;
}

.social-list-footer svg {
  width: 20px;
  height: 20px;
  color: var(--white);
}

.social-list-footer a:hover {
  background-color: var(--accent);
  
}

.icon-email, .icon-tel{
  width:16px;
  height: 12px;
}

.email, .tel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-email, .icon-tel {
  display: block;
}


.client {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.client-title {
  margin-bottom: 50px;
  font-size: 36px;
}

.client-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}

.client-item {
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: all 0.3s ease;
}

.client-item svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  color: #afb1b8;
  transition: fill 0.3s ease;
}


.client-item:hover {
  border-color: var(--accent);
}

.client-item:hover svg {
  color: var(--accent);
  fill: var(--accent);
}


.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding: 0;
}

.social-item a {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: var(--white);

  transition: all 0.3s ease;
}

.social-item svg {
  width: 20px;
  height: 20px;
  color: #afb1b8;
}


.social-item a:hover {
  background-color: var(--accent);
}

.social-item a:hover svg {
  color: var(--white);
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s, visibility 0.3s;
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.modal {
  width: 528px;
  background: white;
  padding: 40px;
  border-radius: 4px;
  position: relative;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.modal-close:hover {
  background: var(--accent);
  color: white;
}



.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:hover,
.form-textarea:hover {
  border-color: var(--accent);
}


.modal-submit {
  background: var(--accent);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-submit:hover {
  background: #1976d2;
}


.no-scroll {
  overflow: hidden;
}




.input-wrapper {
  position: relative;
}


.form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px; 

  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: #757575;
  pointer-events: none;
}


.form-input:focus {
  border-color: var(--accent);
}

.form-input:focus + .input-icon {
  fill: var(--accent);
}





.footer-subscribe {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}


.subscribe-form input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: white;
  outline: none;
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}



.subscribe-form input:hover {
  border-color: var(--accent);
}


.subscribe-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
  padding: 0 28px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background: #1976d2;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-card img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.overlay p {
  text-align: left;  
  margin: 0;
  color: var(--white);
}

.portfolio-card:hover .overlay {
  transform: translateY(0);
}


.navigation a {
  position: relative;
  padding-bottom: 5px;
}


.navigation a.active {
  color: var(--accent);
}

.navigation a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}