.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
}

.clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}

.clients__item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition);
}

.clients__item svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  color: #afb1b8;
  transition: fill var(--transition), color var(--transition);
}

.clients__item:hover {
  border-color: var(--accent);
}

.clients__item:hover svg {
  color: var(--accent);
  fill: var(--accent);
}