@import '../utiles/placeholders';
@import '../utiles/mixin';


.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
}

.clients__list {
  @extend %flex-justify;
  gap: 30px;
  
  padding: 0;
}

.clients__item {
  @extend %flex-justify;
  @include size(170px, 92px);
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition);
}

.clients__item svg {
  @include size(106px, 60px);
  fill: #afb1b8;
  color: #afb1b8;
  transition: fill var(--transition), color var(--transition);
}

.clients__item:hover {
  border-color: var(--accent);
}

.clients__item:hover svg {
  color: var(--accent);
  fill: var(--accent);
}