.hero {
  background-color: var(--dark-bg);
  color: var(--white);
  line-height: 1.3;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../static/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero h2 {
  display: block;
  width: 696px;
  height: 120px;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.hero button {
  display: inline-block;
  border-radius: 4px;
  height: 50px;
  background-color: var(--accent);
  color: var(--white);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 32px;
  transition: background-color var(--transition);
}

.hero button:hover {
  background-color: #1976d2;
}