@import '../utiles/placeholders';


.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-bg);
  line-height: 1.4;
  text-align: center;
}

.team .team__list {
  @extend %flex-justify;
  list-style: none;
  gap: 30px;
  padding: 0;
}

.team .team__member {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 30px;
}

.team p {
  color: var(--text-secondary);
  line-height: 1.3;
}

.team h2 {
  margin-bottom: 50px;
}

.team img {
  width: 270px;
  height: 260px;
  display: block;
}

.team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-bg);
  line-height: 1.4;
  text-align: center;
}
 
.team .team__list {
  list-style: none;
  @extend %flex-justify;
  gap: 30px;
  padding: 0;
}
 
.team .team__member {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 30px;
}
 
.team p {
  color: var(--text-secondary);
  line-height: 1.3;
}
 
.team h2 {
  margin-bottom: 50px;
}
 
.team img {
  width: 270px;
  height: 260px;
  display: block;
}
 
.team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
 
.socials__list {
  @extend %flex-justify;
  gap: 10px;
  margin-top: 16px;
  padding: 0;
}
 
.socials__item a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color var(--transition);
}
 
.socials__item svg {
  width: 20px;
  height: 20px;
  color: #afb1b8;
  transition: color var(--transition);
}
 
.socials__item a:hover {
  background-color: var(--accent);
}
 
.socials__item a:hover svg {
  color: var(--white);
}