.work {
  text-align: center;
}

.work ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 94px;
}

.work-ul-item {
  border: none;
  width: calc((100% - 60px) / 3);
}

.work-card {
  position: relative;
  overflow: hidden;
}

.work-card img {
  display: block;
  width: 100%;
}

.work-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  margin: 0;
  padding: 20px 0;
  text-align: center;

  background: rgba(47, 48, 58, 0.8);
  color: var(--white);

  font-weight: 700;
}